@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="403">403</div>
    <p class="lead text-gray-800 mb-5">Access Restricted Here</p>
    <p class="lead text-gray-800 mb-5">This Can't be Accessed Now</p>
    <p class="text-gray-500 mb-0">It looks like either you don't have enough permission or you are new user...</p>
    <a href="#">Note:- Contact tool Admin to Request Access &rarr; niteshbhardwaj960@gmail.com</a>
</div>
