@model WebERP.Models.Company
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Add Company</h3>
        </nav>
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="Name" id="Name">
                            </div>
                            <span asp-validation-for="NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Abbreviation</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="Abv" id="Abv">
                            </div>
                            <span asp-validation-for="ABV" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Active Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" id="ACTIVE_TAG" name="ACTIVE_TAG">
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="REMARKS" id="REMARKS">
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Address Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 1</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="ADD1" id="ADD1">
                            </div>
                            <span asp-validation-for="ADD1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 2</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="ADD2" id="ADD2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">City</label>
                            <div class="input-group">
                                <select name="CITY_CODE" id="ddlCity" class="form-control" asp-items="@(new SelectList(Model.cityDropDown,"Value", "Text"))"></select>
                                @*<input type="text" class="form-control numb" name="CITY_CODE" id="CITY_CODE">
                    <span asp-validation-for="CITY_CODE" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">State/Country</label>
                            <div class="input-group">
                                <select name="State_Code" id="ddlState"  readonly="readonly" class="form-control" asp-items="@(new SelectList(string.Empty,"Value", "Text"))"></select>
                                @*<input type="text" class="form-control numb" name="CITY_CODE" id="CITY_CODE">
                    <span asp-validation-for="CITY_CODE" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>                   
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Pin Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="PIN_CODE" id="PIN_CODE">
                            </div>
                            <span asp-validation-for="PIN_CODE" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Contact Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Email Id</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="EMAIL_ID" id="EMAIL_ID">
                            </div>
                            <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Mobile No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="MOBILE_NO" id="MOBILE_NO">
                            </div>
                            <span asp-validation-for="MOBILE_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Phone No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="PH_NO" id="PH_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Fax No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="FAX_NO" id="FAX_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">URL</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="URL" id="URL">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Lst No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="LST_NO" id="LST_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Lst Date</label>
                            <div class="input-group">
                                <input type="date" class="form-control" name="LST_DATE" id="LST_DATE">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Cst No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="CST_NO" id="CST_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Cst Date</label>
                            <div class="input-group">
                                <input type="date" class="form-control" id="CST_DAT" name="CST_DAT">
                                @*<input type="text" class="form-control numb" name="CST_DATE" id="CST_DATE" placeholder="CST DATE" value="">*@
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Bank Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="BANK_NAME" id="BANK_NAME">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Account No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="BANK_ACC_NO" id="BANK_ACC_NO" >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Branch</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="BANK_BRANCH" id="BANK_BRANCH" >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">IFSC Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="IFSC_CODE" id="IFSC_CODE" >
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Goverment ID Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="GST_NO" id="GST_NO">
                            </div>
                            <span asp-validation-for="GST_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PAN No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="PAN_NO" id="PAN_NO">
                            </div>
                            <span asp-validation-for="PAN_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Service Tax No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="SERVICE_TAX_NO" id="SERVICE_TAX_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">TIN No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="TIN_NO" id="TIN_NO">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">ECC No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="ECC_NO" id="ECC_NO">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">ESI No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="ESI_NO" id="ESI_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PF No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="PF_NO" id="PF_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">TDS No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="TDS_NO" id="TDS_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">MSME No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="MSME_NO" id="MSME_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Logo Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="LOGO_NAME" id="LOGO_NAME">
                            </div>
                        </div>
                    </div>
                </div>

                @*</div>*@
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Company">Close</a>
                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Company" asp-action="SAVECompany">
                        <i class="fa fa-save"></i> Save
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>
<script>
    $(function () {
        $("#ddlCity").change(function () {
            debugger;
            $.getJSON("/Company/Getstatelist", { ctid: $("#ddlCity").val() }, function (d) {
                debugger;
                var row = "";
                $("#ddlState").empty();
                $("#ddlCountry").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlState").html(row);

            })

        })
    })
</script>