@model WebERP.Models.Company

<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Company</h3>
            </nav>
        }
        @if (Model.Type == "Action")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Company</h3>
            </nav>
        }
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="NAME" />
                            </div>
                            <span asp-validation-for="NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Abbreviation</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ABV" />
                            </div>
                            <span asp-validation-for="ABV" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Active Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="ACTIVE_TAG">
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">REMARKS</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="REMARKS" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Address Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 1</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD1" />
                            </div>
                            <span asp-validation-for="ADD1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 2</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">City Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CITY_CODE" />
                            </div>
                            <span asp-validation-for="CITY_CODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Pin Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PIN_CODE" />
                            </div>
                            <span asp-validation-for="PIN_CODE" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Contact Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Email Id</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="EMAIL_ID" />
                            </div>
                            <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Mobile No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="MOBILE_NO" />
                            </div>
                            <span asp-validation-for="MOBILE_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Phone No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PH_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Fax No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="FAX_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">URL</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="URL" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">LST No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="LST_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">LST Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="LST_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">CST No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CST_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">CST Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CST_DAT" />
                                @*<input type="text" class="form-control numb" name="CST_DATE" id="CST_DATE" placeholder="CST DATE" value="">*@
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Bank Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="BANK_NAME" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Account No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="BANK_ACC_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Bank Branch</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="BANK_BRANCH" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">IFSC Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="IFSC_CODE" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Goverment ID Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="GST_NO" />
                            </div>
                            <span asp-validation-for="GST_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PAN No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PAN_NO" />
                            </div>
                            <span asp-validation-for="PAN_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Service Tax No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="SERVICE_TAX_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">TIN No</label>
                            <div class="input-group">
                                <input type="text" class="form-control numb" name="TIN_NO" id="TIN_NO">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">ECC No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ECC_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">ESI No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ESI_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PF No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PF_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">TDS No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="TDS_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">MSME No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="MSME_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Logo Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="LOGO_NAME" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label hidden="hidden" for="branch_id">Inserted Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label hidden="hidden" for="branch_id">Inserted By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label hidden="hidden" for="branch_id">Updated Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label hidden="hidden" for="branch_id">Updated By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                            </div>
                        </div>
                    </div>
                </div>

                @*</div>*@
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Company">Close</a>
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Company" asp-action="EditCompany">
                            <i class="fa fa-save"></i> Update
                        </button>
                    }
                </div>

            </form>
        </div>

    </div>
</div>