@model WebERP.Models.Location.CountryModel

<div id="countryModal" class="modal fade">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="card">
                <div class="card-header" style="background: linear-gradient(135deg, #00ff7ee6 0%, #74009a 100%);">
                    <h3 class="mb-0 card-title text-white">New Country Details</h3>
                </div>
                <div class="card-body">
                    <form asp-action="AddCountry">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Country Code</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="CountryCode" placeholder="country code like e.g IN for India">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Country Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="Name" placeholder="country name here...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="button" class="btn btn-secondary mr-2 mt-1 mb-1  pull-right" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary mr-2 mt-1 mb-1 us-button pull-right" data-save="modal" >Save</button>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>