@model WebERP.Models.Emp_Sal
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Salary Generation</h3>
        </nav>           
        <div class="card-body">

            <form id="menu-form" method="post">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Salary Details</b></h4>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Employee Type</label>
                            <div class="input-group">
                                <select class="form-control" asp-for="EMP_TYPE" id="EMP_TYPE">
                                    <option value="S">Salary</option>
                                    <option value="P">Pc Rate/Contractor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Salary Type</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="SAL_TYPE" id="SAL_TYPE">
                                    <option id="sal0" value="0">Full Time</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Salary Month</label>
                            <div class="custom-radio">
                                <input asp-for="SAL_MONTH" type="month" class="form-control" id="SAL_MONTH" name="SAL_MONTH" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Emp_Sal_Detail">Close</a>

                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="Salary" asp-action="Salary_Ge">
                        <i class="fa fa-save"></i> Generate Salary
                    </button>
                </div>
                <div class="row text-danger">
                    @Html.ValidationSummary()
                </div>
            </form>

        </div>

    </div>
</div>
<script>
    $(function () {
        $("#SAL_TYPE").show();
        
        $("#EMP_TYPE").change(function () {
            var row = "";
            if ($("#EMP_TYPE").val() == "S") {
                //$("#SAL_TYPE").empty();
                //$("#SAL_TYPE").add("Full Time","0")
                row += "<option value=" + 0 + ">" + "Full Time" + "</option>"
            }
            else {
                row += "<option value=" + 1 + ">" + "1 to 15" + "</option>"
                row += "<option value=" + 2 + ">" + "16 to 31" + "</option>"
                //$("#SAL_TYPE").empty();
                //$("#SAL_TYPE").add("1 to 15", "1")               
            }
            $("#SAL_TYPE").html(row);
        })
    })
</script>