@model WebERP.Models.Artical_Master
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Artical</h3>
            </nav>
        }
        @if (Model.Type == "Action")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Artical</h3>
            </nav>
        }
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="NAME" />
                            </div>
                            <span asp-validation-for="NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Brand Name</label>
                            <div class="input-group">
                                <select asp-for="BRAND_CODE" id="Brand_Code" class="form-control" asp-items="@(new SelectList(Model.brandDropDown,"Value", "Text"))"></select>
                            </div>
                            <span asp-validation-for="BRAND_CODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Insert Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Insert By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Update Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Update By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Artical_Master">Close</a>
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Artical" asp-action="EditArtical">
                            <i class="fa fa-save"></i> Update
                        </button>
                    }
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#Brand_Code").chosen();
    })

</script>