@model WebERP.Models.Employee_Advance
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Add")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Add Employee Advance</h3>
            </nav>
        }
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Employee Advance</h3>
            </nav>
        }
        @if (Model.Type == "Action")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Employee Advance</h3>
            </nav>
        }

        <div class="card-body">

            <form id="menu-form" method="post">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Advance Details</b></h4>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Document Date</label>
                            <div class="input-group">
                                <input asp-for="DOC_DATE" type="date" class="form-control" id="DOC_DATE" name="DOC_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Employee Type</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="EMP_TYPE" id="EMP_TYPE">
                                    <option value="P">Pc Rate</option>
                                    <option value="S">Salary</option>
                                    <option value="C">Contractor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Employee Name</label>
                            <div class="custom-radio">
                                <select asp-for="EMP_CODE" id="ddlEMP" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.EMPDropDown,"Value", "Text"))"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Employee Father's Name</label>
                            <div class="custom-radio">
                                <input asp-for="EMP_FATHER" type="text" readonly="readonly" class="form-control" id="EMP_FATHER" name="EMP_FATHER" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Mobile No.</label>
                            <div class="custom-radio">
                                <input asp-for="EMP_MOB_NO" type="text" readonly="readonly" class="form-control" id="EMP_MOB_NO" name="EMP_MOB_NO" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Department</label>
                            <div class="custom-radio">
                                <input asp-for="EMP_DEP" type="text" readonly="readonly" class="form-control" id="EMP_DEP" name="EMP_DEP" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Salary Type</label>
                            <div class="custom-radio">
                                <select asp-for="SAL_YYYYMM_BRK" id="SAL_YYYYMM_BRK" class="form-control" asp-items="@(new SelectList(Model.SalDropDown,"Value", "Text"))"></select>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Advance Amount</label>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.ADV_AMOUNT, new { @ID = "ADVAMOUNT", @class = "form-control", @type = "decimal" })
                            </div>
                        </div>
                    </div>
                    @if ((Model.Type == "Edit") || (Model.Type == "Action"))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert Date</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update Date</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Emp_Adv_Details">Close</a>
                    @if (Model.Type == "Add")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="Advance" asp-action="Emp_Adv_Master">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" type="submit" asp-controller="Advance" asp-action="Edit_Advance">
                            <i class="fa fa-save"></i> Save
                        </button>
                    }
                </div>
            </form>

        </div>

    </div>
</div>
<script>
    $(function () {
        $("#EMP_TYPE").change(function () {
            debugger;
            $.getJSON("/EmpAdvance/Emplists", { type: $("#EMP_TYPE").val() }, function (d) {
                debugger;
                var row = "";
                $("#ddlEMP").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlEMP").html(row);
            })
            $.getJSON("/EmpAdvance/SalType", { type: $("#EMP_TYPE").val() }, function (d) {
                debugger;
                var row = "";
                $("#SAL_YYYYMM_BRK").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#SAL_YYYYMM_BRK").html(row);
            })

        })
    })
    $(function () {
        $("#ddlEMP").change(function () {
            debugger;
            var ddlemp = $('#ddlEMP').find('option:selected').text();
            var Array = ddlemp.split("/");
            $('#EMP_CODE').val(Array[0]);
            $('#EMP_FATHER').val(Array[1]);
            $('#EMP_MOB_NO').val(Array[2]);
            $('#EMP_DEP').val(Array[3]);
            var EmpDep = Array[3];
        })
    })
</script>
