@model IEnumerable<WebERP.Models.POHeaderModel>

@{
    ViewData["Title"] = "PODetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);"> <h3 style="color:white">Purchasing Orders</h3></nav>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="company_id">Company</label>
                    <select type="text" class="form-control" name="company_id" id="company_id" required="">
                        <option value="12" selected="">001 - Company 1</option>
                        <option value="12" selected="">002 - Company 2</option>
                        <option value="12" selected="">003 - Company 3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <label for="dop">Date of Purchase</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                        </div>
                    </div>
                    <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="date" name="dop" id="dop" value="2021-02-03">
                </div>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="series_number">Series</label>
                    <input type="text" class="form-control" name="series_number" id="series_number" placeholder="Enter Current Financial Series" value="20202021">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="order_number">Order number</label>
                    <input type="text" class="form-control" name="order_number" id="order_number" value="202020233">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="acc_code">Acc Code</label>
                    <select type="text" class="form-control" name="acc_code" id="acc_code" required="">
                        <option value="12" selected="">001 - Acc 1</option>
                        <option value="12" selected="">002 - Acc 2</option>
                        <option value="12" selected="">003 - Acc 3</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="remarks" placeholder="Place order remarks here">
                </div>
            </div>
        </div>
        <hr class="alert-danger" />

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <table class="table table-bordered text-nowrap w-100" id="dataTable">
                        <thead>
                            <tr>
                                <th>Indent No</th>
                                <th>Catalog Item</th>
                                <th>Party Item Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Disc Per</th>
                                <th>Disc Rate</th>
                                <th>Net Rate</th>
                                <th>Amount</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="template">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <a href="#" class="btn btn-primary" id="addRow">
                                                <i class="fa fa-plus-circle"></i>Add
                                            </a>

                                            <a href="#" class="btn btn-primary" id="deleteRow">
                                                <i class="fa fa-minus-circle"></i>Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <hr class="alert-danger" />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <table class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>Terms & Conditions</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>