@model WebERP.Models.Account_Master

<div class="modal-content show-modal-content form_content">
    <div class="card">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
            <h3 style="color:white">Edit Account</h3>
        </nav>
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">NAME</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="NAME" />
                                <span asp-validation-for="NAME" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">ACTIVE_TAG</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="ACTIVE_TAG">
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">REMARKS</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="REMARKS" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Address Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">ADDRESS LINE 1</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD1" />
                                <span asp-validation-for="ADD1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">ADDRESS LINE 2</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">CITY CODE</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CITY_CODE" />
                                <span asp-validation-for="CITY_CODE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PIN CODE</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PIN_CODE" />
                                <span asp-validation-for="PIN_CODE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Contact Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">EMAIL ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="EMAIL_ID" />
                                <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">MOBILE NO</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="MOBILE_NO" />
                                <span asp-validation-for="MOBILE_NO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">PHONE NO</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PH_NO" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Account Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Opening Balance</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="OP_BAL" />
                                <span asp-validation-for="OP_BAL" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Opening Balance Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="OP_BAL_TAG">
                                    <option value="1">Debit</option>
                                    <option value="2">Credit</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Type</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="ACC_TYPE">
                                    <option value="1">Sundry Deptor</option>
                                    <option value="2">Sundry Creditor</option>
                                    <option value="3">Both</option>
                                    <option value="4">General</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Credit Limit</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CR_LIMIT" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Credit Days</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CR_DAYS" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Goverment ID Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST NO</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="GST_NO" />
                                <span asp-validation-for="GST_NO" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST Regestration Tag</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="GST_REGD_TAG" />
                                <span asp-validation-for="GST_REGD_TAG" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @*</div>*@
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Account_Master">Close</a>
                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Account" asp-action="EditAccount">
                        <i class="fa fa-save"></i> Update
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>