@model WebERP.Models.Account_Master
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Account</h3>
            </nav>
        }
        @if (Model.Type == "Action")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Account</h3>
            </nav>
        }
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="NAME" />
                            </div>
                            <span asp-validation-for="NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Active Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="ACTIVE_TAG">
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Remarks</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="REMARKS" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Address Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 1</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD1" />
                            </div>
                            <span asp-validation-for="ADD1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Address Line 2</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="ADD2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">City</label>
                            <div class="input-group">
                                @if (Model.Type == "Edit")
                                {
                                    <select asp-for="CITY_CODE" id="ddlCity" class="form-control Select2DropDown" asp-items="@(new SelectList(Model.cityDropDown, "Value", "Text"))"></select>
                                }
                                @if (Model.Type == "Action")
                                {
                                    <select asp-for="CITY_CODE" id="ddlCity" disabled="disabled" class="form-control" asp-items="@(new SelectList(Model.cityDropDown, "Value", "Text"))"></select>
                                }
                            </div>
                            <span asp-validation-for="CITY_CODE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">State</label>
                            <div class="input-group">
                                <select asp-for="State_Code" id="ddlState" Readonly="readonly" class="form-control" asp-items="@(new SelectList(Model.stateDropDown,"Value", "Text"))"></select>
                                @*<input type="text" class="form-control numb" name="CITY_CODE" id="CITY_CODE">*@
                                @*<span asp-validation-for="CITY_CODE" class="text-danger"></span>*@
                            </div>
                            @*<span asp-validation-for="State_Code" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Pin Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PIN_CODE" />
                            </div>
                            <span asp-validation-for="PIN_CODE" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Contact Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Email Id</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="EMAIL_ID" />
                            </div>
                            <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Mobile No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="MOBILE_NO" />
                            </div>
                            <span asp-validation-for="MOBILE_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Phone No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="PH_NO" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Account Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Opening Balance</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="OP_BAL" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Opening Balance Tag</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="OP_BAL_TAG">
                                    <option value="1">Debit</option>
                                    <option value="2">Credit</option>
                                    <option value="3">Agent</option>
                                    <option value="4">Bank</option>
                                    <option value="5">Cash</option>
                                    <option value="6">General</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Account Type</label>
                            <div class="custom-radio">
                                <select class="form-control" asp-for="ACC_TYPE">
                                    <option value="1">Sundry Deptor</option>
                                    <option value="2">Sundry Creditor</option>
                                    <option value="3">Both</option>
                                    <option value="4">General</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Credit Limit</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CR_LIMIT" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Credit Days</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="CR_DAYS" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Goverment ID Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST No</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="GST_NO" />
                            </div>
                            <span asp-validation-for="GST_NO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">GST Registration Tag</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="GST_REGD_TAG" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Insert Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Insert By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Update Date</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="branch_id">Update By</label>
                            <div class="input-group">
                                <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                            </div>
                        </div>
                    </div>
                </div>

                @*</div>*@
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Account_Master">Close</a>
                    @if (Model.Type == "Edit")
                    {
                        <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Account" asp-action="EditAccount">
                            <i class="fa fa-save"></i> Update
                        </button>
                    }
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    $(function () {
        $("#ddlCity").change(function () {
            $.getJSON("/Account/Getstatelist", { ctid: $("#ddlCity").val() }, function (d) {
                var row = "";
                $("#ddlState").empty();
                $("#ddlCountry").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlState").html(row);

            })

        })
    })
</script>