@model WebERP.Models.Department_Master

<div class="modal-content show-modal-content form_content">
    <div class="card">
        @if (Model.Type == "Add")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Add Department</h3>
            </nav>
        }
        @if (Model.Type == "Edit")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">Edit Department</h3>
            </nav>
        }
        @if (Model.Type == "Action")
        {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background: linear-gradient(135deg, #ff00b1 0%, #3b009a 100%);">
                <h3 style="color:white">View Department</h3>
            </nav>
        }
        <div class="card-body">
            <form id="menu-form" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"><b>Basic Details</b></h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <div class="input-group">
                                @if (Model.Type == "Add")
                                {
                                    <input type="text" class="form-control numb" asp-for="NAME" name="Name" id="Name">
                                }
                                @if (Model.Type == "Action" || Model.Type == "Edit")
                                {
                                    <input type="text" readonly="readonly" class="form-control numb" name="Name" id="Name">
                                }
                            </div>
                            <span asp-validation-for="NAME" class="text-danger"></span>
                        </div>
                    </div>
                    @if ((Model.Type == "Edit") || (Model.Type == "Action"))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert Date</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="INS_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Insert By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="INS_UID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update Date</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="UDT_DATE" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="branch_id">Update By</label>
                                <div class="input-group">
                                    <input type="text" readonly="readonly" class="form-control" asp-for="UDT_UID" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    &nbsp;&nbsp;<a class="btn btn-app mr-2 mt-1 mb-1 btn-secondary pull-right" asp-action="Department_Master">Close</a>
                    <button class="btn btn-app btn-danger mr-2 mt-1 mb-1 us-button pull-right" asp-controller="Department" asp-action="SAVEDepartment">
                        <i class="fa fa-save"></i> Save
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>
